*{
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  min-height: 100vh;
  padding-top: 3%;
}

/*Style the header*/
#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  min-height: 25vh;
  width: 97%;
  color: white;
  border-style: solid;
  border-radius: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  }

  /* Style the h2 tag*/
  h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*style background color*/
body {
    background-image: linear-gradient(100deg, #54454A, #583f47, #945064, #c0456a, #764453, #54454A);
}

/* Theme buttons div */
.box {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 3%;
}

.theme-selector  {
  border: 2.5px solid white;
  border-radius: 100%;
  height: 35px;
  margin: 48px;
  margin-top: 5px;
  float: left;
  box-shadow: 10px 5px 5px white ease-in-out;
  width: 35px;
}

/*button colors for themes*/
.standard.theme-selector {
  background-image: linear-gradient(100deg, #c56b86, #5e3844, #583f47);
}
.spiderman.theme-selector {
  background-image: linear-gradient(100deg, #ee1919, #001f29, #453bce);
}

.frozen.theme-selector {
  background-image: linear-gradient(100deg, #ffffff, #77f3e9, #ffffff);
}

.pirate.theme-selector {
  background-image: linear-gradient(100deg, #db8e19, #1a1616);
} 

.outerspace.theme-selector {
  background-image: linear-gradient(100deg, #27c022, #221f20);
}

.dinosaur.theme-selector {
  background-image: linear-gradient(100deg, #e2cf25, #001f29);
}

.unicorn.theme-selector {
  background-image: linear-gradient(100deg, #db1eec, #001f29);
}

.theme-selector:hover { 
  box-shadow: white 0 0 8px;
  cursor: pointer;
}

p {
  margin-top: 55px;
  margin-left: 0px;
  color: white;
}

/*style wrqpper*/
.wrapper {
  background-color: #27c022;
  font-size: 1.7rem;
  max-width: 800px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  margin-left: 330px;
}

/*style placeholder*/
.wrapper .inputField {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
  background-color: #001f29;
}

.inputField input {
  width: 85%;
  height: 100%;
  outline: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  /*background-color: #9b6877;*/
}

::placeholder {
  color: black;
}

.inputField button {
  width: 50px;
  height: 100%;
  border: none;
  color: #fff; 
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8E49E8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputField button:hover,
.footer button:hover {
  cursor: pointer;
  background: #721ce3;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

/*style todo list*/
.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}

.todoList li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}

.todoList li .icon {
  position: absolute;
  width: 45px;
  text-align: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  
}

.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background-color: #8E49E8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}

.footer button.active {
  opacity: 1;
  pointer-events: auto;
}