*{
  /* margin: 20px; */
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
}

body {
  min-height: 100vh;
  padding-top: 3%;
}

/*Style the header*/
#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  min-height: 25vh;
  width: 97%;
  color: white;
  border-style: solid;
  border-radius: 25px;
  margin-bottom: 25px;;
  padding-top: 1px;
  padding-bottom: 1px;
}

p {
  margin-top: 55px;
  margin-left: 0px;
  color: white;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Courgette', cursive;
}

/*styling for switch themes*/
:root {
  --standard: linear-gradient(100deg, #583f47, #c56b86, #5e3844);
  --spiderman: linear-gradient(100deg,#583f47, #c56b86, #5e3844);
  --frozen:  linear-gradient(100deg,#583f47, #c56b86, #5e3844);
  --pirate: linear-gradient(100deg, #583f47, #c56b86, #5e3844);
  --outerspace: linear-gradient(100deg, #583f47, #c56b86, #5e3844);
  --dinosaur: linear-gradient(100deg, #583f47, #c56b86, #5e3844);
  --unicorn: linear-gradient(100deg, #583f47, #c56b86, #5e3844);
}

/* Theme buttons div */
.theme-switches {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 3%;
}

/*styling of switches*/
.switch  {border-radius: 100%;height: 35px;margin: 48px;margin-top: 5px;float: left;box-shadow: 10px 5px 5px white ease-in-out;width: 35px;}

.switch:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

#switch-1 {
  background-image: var(--standard);
}

#switch-2 {
  background-image: var(--spiderman);
}

#switch-3 {
  background-image: var(--frozen);
}

#switch-4 {
  background-image: var(--pirate);
}

#switch-5 {
  background-image: var(--outerspace);
}

#switch-6 {
  background-image: var(--dinosaur);
}

#switch-7 {
  background-image: var(--unicorn);
}

/*style wrpper*/
.wrapper {
  font-size: 1.7rem;
  max-width: 900px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  margin-left: 330px;
}

/*style placeholder*/
.wrapper .inputField {
  margin: 20px 0;
  width: 100%;
  height: 45px;
}

.inputField input {
  width: 85%;
  height: 100%;
  outline: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  background-color: #9b6877;
}

::placeholder {
  color: black;
}

.inputField button {
  width: 50px;
  height: 100%;
  border: none;
  color: rgb(10, 9, 9);
  font-size: 21px;
  outline: none;
  background: #da81b6;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputField button:hover,
.footer button:hover {
  cursor: pointer;
  background: #583f47;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

/*Style Todo List buttons*/
i.fas.fa-trash, i.fa.fa-edit, i.far.fa-calendar-alt, i.fas.fa-sort-alpha-down, i.fa.fa-strikethrough {
  float: right;
  padding: 10px;
  color: #da81b6;
}

/*style todo list*/
.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}

.todoList li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}

.todoList li .icon {
  width: 45px;
  text-align: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background-color: #c0456a;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.footer button.active {
  opacity: 1;
  pointer-events: auto;
}

/*Style footer span text*/
span {
    font-size: 1em;
    color: white;
}