body {
    background-color: grey;
}

/* Style the header */
header {
    background-color: #666;
    margin-left: auto;
    text-align: center;
    font-size: 35px;
    color: white;
    border-style: solid;
    border-radius: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  /* Style the h2 tag*/
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Style the wrapper*/  
.wrapper {
    margin-top: 20PX;
  border-radius: 25px;
}

  /* Style aside*/
  aside#picture {
    float: left;
    margin-left: 30px;
    padding-top: 10px;
}

.total-tasks, .completed-tasks, .remaining-tasks  {
  float: left;
  border: solid;
  color: white;
  font-size: x-large;
  padding: 5px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px;

}

.container {
  border: solid;
  color: white;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 20px;
}

/* Style section
section#title {
    background-color: rgb(70, 70, 241);
    color: white;
    border-style: solid;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 5%;
    float: right;
    display: inline-flex;
  }

/* Style to do stats
.todo-stats {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
  color: white;
  padding: 10px;
  border: solid;
  border-color: white;
  margin-top: 0%;
  padding: 10px;
}

/* Style links*/
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
  
.todo-stats > div {
    position: relative;
    z-index: 1;
  }


  /*@media screen and (min-width: 600px) {  
    .todo-stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }


  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of 
  each other instead of next to each other 
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }