:root {
    --standard: linear-gradient(100deg, #e2cf25, #001f29);
    --spiderman: linear-gradient(100deg,#e2cf25, #001f29);
    --frozen: linear-gradient(100deg,#e2cf25, #001f29);
    --pirate: linear-gradient(100deg,#e2cf25, #001f29);
    --outerspace: linear-gradient(100deg,#e2cf25, #001f29);
    --dinosaur: linear-gradient(100deg, #e2cf25, #001f29);
    --unicorn: linear-gradient(100deg, #e2cf25, #001f29);
    --theme-color: #737a4c;
    --button-color: #b17c0a;
    --icon-color: #533a04;
    --span-color: #0e0f07;
    --input-color: #6d792a;
    --list-color: #737a4c;
    }
      
    body {
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    h2, p, div#header {
    color: var(--theme-color);
    }
    
    .input {
    background-color: var(--input-color);
    }
    
    .inputField button {
    background-color: var(--button-color)
    }
    
    .todos li {
    background-color: var(--list-color);
    }
    
    i.fas.fa-trash, i.fa.fa-edit, i.far.fa-calendar-alt, i.fas.fa-sort-alpha-down, i.fa.fa-strikethrough {
    color: var(--icon-color);
    }
    
    small {
    color: var(--span-color);
    }