:root {
    --back-color: linear-gradient(100deg, #54454A, #583f47, #945064, #c0456a, #764453, #54454A);
    --header-text: white;   
  }
  
  body {
    background-image: var(--back-color);
    background-repeat: no-repeat;
    background-size: cover;
  }  
  
  h2 {
    color: var(--header-text);
  }

  .input {
    background-color: var(--input-color);
    outline:5px;
    outline: #583f47;
    }
  