:root {
    --standard: linear-gradient(100deg, #e72a92, #dbe5e9);
    --spiderman: linear-gradient(100deg, #e72a92, #dbe5e9);
    --frozen: linear-gradient(100deg, #e72a92, #dbe5e9);
    --pirate: linear-gradient(100deg, #e72a92, #dbe5e9);
    --outerspace: linear-gradient(100deg, #e72a92, #dbe5e9);
    --dinosaur: linear-gradient(100deg, #e72a92, #dbe5e9);
    --unicorn: linear-gradient(100deg, #e72a92, #dbe5e9);
    --theme-color: #f159d8;
    --button-color: #32d1e6;
    --icon-color: rgb(102, 20, 102);
    --span-color: #32d1e6;
    --input-color: #e789eb;
    --list-color: #f159d8;
    }
      
    body {
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    h2, p, div#header {
    color: var(--theme-color);
    }
    
    .input {
    background-color: var(--input-color);
    }
    
    .inputField button {
    background-color: var(--button-color)
    }
    
    .todos li {
    background-color: var(--list-color);
    }
    
    i.fas.fa-trash, i.fa.fa-edit, i.far.fa-calendar-alt, i.fas.fa-sort-alpha-down, i.fa.fa-strikethrough {
    color: var(--icon-color);
    }
    
    small {
    color: var(--span-color);
    }